[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
tweepy = "*"
requests = "*"
parse = "*"
schedule = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "python src/twitter.py"
